@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto:wght@300;400&display=swap');

/*
body {
    height: 98vh;
    display: grid;
    grid-template-columns: 49vw 50vw;
    grid-template-areas: "photo form";
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color: #ffecda;
}
*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color: #ffecda;
}

a {
    text-decoration: none;
    color: #fe2d4a;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    margin:auto;
    width: 90vw;
    height: 80vh;
}

.container {
    font-size: 0.9rem;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidePhoto {
    width: 49vw;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
}

.sidePhoto > p {
    font-size: 50px;
    font-weight: bold;
    
}

.sidePhoto > img {
    width: 70%;
    height: auto;
    
}

.cap {
    font-size: 1.2rem;

}

label {
    font-weight: bold;
    color: #2063f7;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;
    font-size: 15px;
}

input {
    border: 2px solid #2063f7;
    border-radius: 5px;
    padding: 5px;
}


footer img {
    width: 20px;
    height: 20px;
}

.container {
    display: block;
}

#signForm {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-areas:"sign1 sign2 "
                        "submit submit";
}

.container > div {
    padding: 20px;
}

input {
    margin-bottom: 20px;
}

input:focus {
    outline: 3px solid #fe2d4a;
    border: 2px solid transparent;
}

button {
    padding: 10px;
    width: 200px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: #2063f7;
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: #fe2d4a;
    color: white;
}

.col1 {
    grid-area: "sign1";
}

.col2 {
    grid-area: "sign2";
}

.confirm {
    grid-area: submit;
}

fieldset {
    padding: 50px;
    border: 3px solid white;
    border-radius: 70px;
}